@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.btn-primary {
    background-color: #A375CF !important;
}

.text-primary {
    color: #A375CF !important;
}

.btn-outline-primary {
    outline-color: #A375CF !important;
}

.btn-outline-primary:hover {
    background-color: #A375CF !important;
}

.btn-outline-danger:hover {
    color: white !important;
}

.bg-primary {
    background-color: #A375CF !important;
}

.circle {
    background-color: #A375CF;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.karya {
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.karya:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
/* .body-text-1 {
    font-family: 'Poppins'; 
    font-weight: 400 ;
    font-size: 24pt;
}

.body-text-2 {
    font-family: 'Poppins' ; 
    font-weight: 400;
    font-size: 20pt;
}

.body-text-3 {
    font-family: 'Poppins' !important; 
    font-weight: 400 !important;
    font-size: 16pt;
}

.heading-1 {
    font-family: 'Poppins' !important; 
    font-weight: 500 !important;
    font-size: 56pt;
}

.heading-2 {
    font-family: 'Poppins' !important; 
    font-weight: 500 !important;
    font-size: 5pt;
} */
